/** Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
*{
  font-family: 'Noto Sans KR', sans-serif;
}

header {
  border: 2px solid rgb(155, 155, 255);
  height: 10vh;
  background-color: rgba(242, 242, 255, 0.63);
  /**/
}

header figure {
  width: 50px;
  height: 50px;
  margin-top: 5px;
  margin-left: 20px;
  cursor: pointer;
}

header figure img {
  width: 100%;
  height: 100%;
}

header #products-counter {
  font-size: 30px;
  margin-left: 80px;
  position: absolute;
  top: 14px;
}

header #titulo-web {
  font-size: 30px;
  margin-left: 80px;
  position: absolute;
  top: 16px;
  right: 5%;
  color: rgb(26, 0, 85);
  font-weight: bold;
}

header #shop-list {
  width: 500px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: absolute;
  top: 10vh;
  z-index: 5;
  border: 1px solid red;
  background-color: lightcoral;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
}

header #shop-list .product-card-shoppyCar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px;
}

header #shop-list .product-card-shoppyCar figure {
  width: 180px;
  height: 100px;
}

header #shop-list .product-card-shoppyCar figure img {
  width: 100%;
  height: 100%;
}

header #shop-list .product-name-shoppyCar {
  font-size: 20px;
}

header #shop-list .product-price-shoppyCar {
  font-size: 20px;
}

header #total-price {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin: 20px;
}

/**/
.carousel-container {
  width: 100%;
  margin: auto;
  overflow: hidden;
}

#products-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  width: 100%;
}

.product-card {
  margin: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid rgb(155, 155, 255);
  width: 300px;
  height: 300px;
  border-radius: 10px;
}

.product-card figure {
  width: 250px;
  height: 150px;
}

.product-card figure img {
  width: 100%;
  height: 100%;
}

.product-card .product-name {
  font-size: 25px;
  font-weight: bold;
}

.product-card .product-price {
  font-size: 20px;
  color: #4b4949;
}

/**Estilos para botones*/

.btn-add-car {
  height: 40px;
  width: 150px;
  background-color: #6a79ff;
  text-decoration: none;
  border: 0;
  color: white;
  box-shadow: 3px 3px 1px #002e74;
}

.btn-add-car:hover {
  opacity: 0.8;
  text-shadow: 1px 1px 1px black;
}

.btn-add-car:active {
  box-shadow: none;
  transform: translateX(3px);
  transform: translateY(3px);
}

.moveBtn {
  border:0;
  background-color: rgb(181, 188, 255);
  border-radius: 10px;
}

/*# sourceMappingURL=main.css.map */